$color-background: black;
$color-detail: #1DDCC2;
$color-active: #22AE9B;
$color-background-light: #e09f3e;
$color-detail-light: #7F0414;
$color-active-light: black;

@mixin card-preset {
  margin: 1rem;
  padding: 1.5rem;
  background-color: $color-background;
  border: 1px solid $color-detail;
  border-radius: 10px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin light-mode {
  background-color: $color-background-light !important;
  border-color: $color-detail-light !important;
  color: $color-detail-light !important;
  outline-color: $color-detail-light !important;
}

@mixin h2 {
  margin: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
