@import 'variables';

.footer, .header {
  background-color: $color-background;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  border-top: 1px solid $color-detail;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-left: 0.5rem;
  }
}

.header {
  border-bottom: 1px solid $color-detail;
  justify-content: space-between;

  a {
    margin: 1rem;
    font-size: 18px;
    text-transform: uppercase;
  }

  h1 {
    text-transform: uppercase;
  }
}

.logo {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}
