@import 'variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  @include card-preset;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
  width: 40%;

  h3 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  span {
    text-decoration: underline;
  }

  a:hover {
    color: $color-active;
    font-style: italic;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.text {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  width: 100%;
}
