@import 'variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  @include card-preset;
  height: 390px;
  width: 250px;

  h3 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  span {
    text-decoration: underline;
  }

  a:hover {
    color: $color-active;
    font-style: italic;
  }
}

.button {
  cursor: pointer;
  padding-top: 1rem;
}

.button:hover {
  color: $color-active;
  font-style: italic;
}

.links {
  margin-bottom: 1rem;
}

.showFront div .back {
  display: none !important;
}

.showBack div .front {
  display: none !important;
}
