@import 'variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  @include card-preset;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
  // width: 80%;

  h2 {
    @include h2;
  }

  img {
    padding-bottom: 1rem !important;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  span {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: $color-detail;
  }

  a:hover {
    color: $color-active;
    font-style: italic;
  }
}

.body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {
  margin-bottom: 1rem;
}
